@model IEnumerable<Assignment3.Models.Category>

@{
    ViewBag.Title = "Hair Types";
}

<h2>Hair Types</h2>
<br />

<p id="createNew">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Type, "Index", "Products", new {Category = item.Type}, null)
        </td>
        <td class="categoryActionHolder">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
